/* @import '~antd/dist/antd.css'; */
/* dash.css */
/* body{background: blue} */
/* .collapsible{
    height: 100vh
}
.collapsible-header{
    height: 100px;
    padding: 25px;
}
.section{
        height:100%;

}
    height: calc(100vh/4);

.ant-collapse-item{
    background-color: blue!;
}
.ant-collapse-header{
    padding:calc(100%/4);

}
.vp{
    max-height: 100vh
} */